@import './styles/main.scss';



body{
  margin: 0px;
  padding: 0px;
  font-family: "Gideon Roman", serif;
}
*{
  box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6, p{
margin: 0px;
}

a{
  cursor: pointer;
}

img{
  max-width: 100%;
}